<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../images/__mijuit_logo.png" alt="Logo"  class="d-inline-block align-text-top">
        </a>
    </div>
</nav>